
<div class="popup-container" id="popup-container" style="display: none;">
    <div class="popup-content">
        <h2 id="popup-title">Game Over</h2>
        <p id="winner-message">Player <span id="winning-player"> </span> Wins!</p>
        <button class="close-popup-btn" id="close-popup-btn">Main Menu</button>
    </div>
</div>