<!--Header-->
<div class="header">
    <a href="/stats"><button type="header-button" id="stats-header-button">STATS</button></a>
    <a href="/"><button type="header-button" id="game-header-button">MENU</button></a>
    <a href="/credits"><button type="header-button" id="credits-header-button">CREDITS</button></a>
</div>
