<div class="credits-page">
    <div class="credit-items">
<p>
    This website was made as a final project for CS290 at Oregon State University.
    <i>Fighting Fighters, The Game, The Final</i> wouldn't have been possible to make without the contributions made from 4 CS students:

</p>

<ul>
    <li>
        Joshua Knowles handled practically all of the javascript for this site, his contributions go from game balancing and card creation to basic data tracking.
    </li>
    <li>
        Ellie Ding crafted and managed mostly all of the server handling that this site uses, this also involves the json file management as well as the statistics page html, css, and backend.
    </li>
    <li>
        Brendan Laus was in charge of most of the html for this site, as well as a small bit of css and js for certain pages, like the character selection screen, menu, and credits page.
    </li>
    <li>
        Trevor Smith was the head of both CSS and game art. His contributions made the game look as nice as it does (same with the macro styling and color scheme of the entire project).
    </li>
</ul>
</div>
</div>