<div class="menu">
<button type="info-box" id="title">
     <a href="http://localhost:3333">
     <h3>Fighting fighters, the game, the final </h3>
     </a>
</button>


<button type="info-box" id="pvp-option"> 
     <a href="http://localhost:3333/characterselect">
          Play
     </a>
</button>

<button type="info-box" id="credits-option">
     <a href="http://localhost:3333/credits">
          Credits
     </a>
</button>

<button type="info-box" id="stats-option">
     <a href="http://localhost:3333/stats">
          Game Stats
     </a>
</button>
</div>