html, body {
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;
    height: 12vh;
    background-color: #550707;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5vh solid #916324;
}

.game-display {
    height: 85vh;
    width: calc(85vh * (16 / 9));
    margin: 0 auto;
    border: 0.5vh solid #916324;
    background-color: #eee;
    display: flex;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #512918;
    margin: 0;
    padding: 0;
}

.player-one-character-picture img,
.player-two-character-picture img {
    width: 30vh;
    height: auto;
    position: absolute;
    bottom: 30vh;
}

.player-one-character-picture img {
    left: 15vh;
}

.player-two-character-picture img {
    right: 15vh;
    transform: scale(-1, 1);
}

.player-one-info, .player-two-info {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 200;
    border: 0.5vh solid black;
    border-radius: 1vh;
    background-color: #dddddd;
    width: 40vh;
    height: 22.5vh;
    position: absolute;
    top: 1vh;
}

.player-one-info {
    left: 10vh;
}

.player-two-info {
    right: 10vh;
}

.player-one-character-name, .player-two-character-name {
    text-align: center;
    font-size: 4vh;
}

.player-one-health, .player-two-health {
    color: red;
    font-size: 4vh;
    position: absolute;
    right: 2.5vh;
    top: 5vh;
}

.player-one-health-bar, .player-two-health-bar {
    position: absolute;
    top: 7vh;
    width: 15vh;
    height: 2vh;
    border: 0.4vh solid black;
    background-color: red;
    left: 4vh;
}

.player-one-energy, .player-two-energy {
    font-size: 4vh;
    color: blue;
    position: absolute;
    bottom: 3vh;
    left: 4vh;
}

.player-one-block-counter, .player-two-block-counter {
    position: absolute;
    bottom: 2.5vh;
    right: 2.5vh;
    font-size: 3.5vh;
    background-color: rgb(156, 121, 55);
    border: 0.5vh solid black;
    border-radius: 50%;
    width: 6vh;
    text-align: center;
}

.player-one-deck, .player-two-deck {
    position: absolute;
    width: 60vh;
    height: 26vh;
    border: 1vh solid #3b2713;
    border-radius: 1vh;
    background-color: #4e3e2c;
    bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-one-deck {
    left: 1vh;
}

.player-two-deck {
    right: 1vh;
}

.player-one-draw-and-discard-container, .player-two-draw-and-discard-container {
    position: absolute;
    width: 4vh;
    height: 6vh;
    bottom: 1vh;
}

.player-one-draw-and-discard-container {
    left: 63.5vh;
}

.player-two-draw-and-discard-container {
    right: 69vh;
}

.draw-pile {
    position: absolute;
    height: 12vh;
    width: 8vh;
    border: 0.6vh solid #000000;
    border-radius: 1.5vh;
    background-color: #d4b895;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 200;
    box-shadow: 0vh 0.4vh 1.2vh rgba(0, 0, 0, 0.2);
    font-size: 4vh;
    text-align: center;
    bottom: 14vh;
}

.discard-pile {
    position: absolute;
    height: 12vh;
    width: 8vh;
    border: 0.6vh solid #000000;
    border-radius: 1.5vh;
    background-color: #d4b895;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 200;
    box-shadow: 0vh 0.4vh 1.2vh rgba(0, 0, 0, 0.2);
    font-size: 4vh;
    text-align: center;
    bottom: 0vh;
}

.card {
    position: absolute;
    height: 24vh;
    width: 16vh;
    border: 0.5vh solid black;
    border-radius: 1vh;
    background-color: #d4b895;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    margin: 0vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.card-content {
    position: absolute;
    height: 24vh;
    width: 16vh;
}

.card-title {
    left: 3vh;
    position:absolute;
    text-align: center;
    font-size: 2.2vh;
    top: 1vh;
}

.card-image img {
    position: absolute;
    top: 5vh;
    right: 4vh;
    height: 7vh;
    width: 7vh;
}

.card-description {
    position: absolute;
    text-align: center;
    bottom: 4.5vh;
    font-size: 1.5vh;
    font-weight: 200;
}

.card-energy-cost-container {
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vh;
    border: 0.2vh solid #031273;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: #0504AA;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.5vh;
    left: 0.5vh;

}

.card-energy-cost {
    color: #FFFFFF;
    font-size: 3vh;
    font-weight: 300;
}

.card:hover {
    z-index: 10;
    transform: scale(1.1);
    outline: 0.3vh solid #f6c16a;
    box-shadow: 0vh 0.6vh 0.12vh rgba(0, 0, 0, 0.75);
}
